body {
	background-color: honeydew
}
.h21 {
	font-family: verdana;
	font-size: 23px;
}
table {
	font-family: times; 
	font-size: 18px;
}
.h22 {
	font-style: bold; 
	font-family: verdana;
	font-size: 23px;
}
p {
	text-align: justify;
	font-family: times;
	font-size: 18px;
}
